<div class="jumbotron">
    <div class="row" style="justify-content: center;">
        <div class="bcp-g33 bcp-gl">
            <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                <a routerLink="/mapas">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-edit fa-stack-1x"></i>
                    </span><br>Gestión de Mapas
                </a>
            </div>
        </div>
        <div class="bcp-g33 bcp-gl">
                <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                    <a routerLink="/mapas-riesgo">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-map fa-stack-1x"></i>
                        </span><br>Mapas de Riesgo
                    </a>
                </div>
            </div>
    </div>
</div>