<h1>Emergencia
    <label class="text-primary">{{mapa.nombre}}</label>
    <small class="ml-md-1">
        <button [routerLink]="['/mapas']" class="btn btn-outline-danger rounded-circle">
            <i class="fa fa-reply"></i>
        </button>
    </small>
</h1>

<form #formMapa="ngForm">
    <div class="row form-group">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" (click)="guardarEmergencia()" [disabled]="!formMapa.form.valid">
                <i class="fa fa-save">&nbsp;</i>Guardar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div style="overflow-y: hidden;overflow-x: scroll;">
                <div id="network" [style.background-image]="backgroundImg"></div>
            </div>
        </div>
        <div class="col-md-6">
            <table #dtNodos class="table table-sm row-border hover"></table>
        </div>
    </div>

</form>