<h1>Mapa
    <label class="text-primary">{{mapa.nombre}}</label>
    <small class="ml-md-1">
        <button [routerLink]="['/mapas']" class="btn btn-outline-danger rounded-circle">
            <i class="fa fa-reply"></i>
        </button>
    </small>
</h1>
<div class="row form-group">
    <div class="col-md-12 text-right">
        <input type="file" #file (change)="leerPath($event)" hidden>
        <button type="button" class="btn btn-primary" (click)="file.click()" [disabled]="!formMapa.form.valid">
            <i class="fa fa-upload">&nbsp;</i>Subir Mapa
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="agregarNodo()" [disabled]="!formMapa.form.valid">
            <i class="fa fa-plus">&nbsp;</i>Agregar Nodo
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="unirNodos()" [disabled]="!formMapa.form.valid">
            <i class="fa fa-adjust">&nbsp;</i>Unir Nodos
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="guardarMapa()" [disabled]="!formMapa.form.valid">
            <i class="fa fa-save">&nbsp;</i>Guardar
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="network" [style.background-image]="backgroundImg"></div>
    </div>
    <div class="col-md-6">
        <form #formMapa="ngForm">
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Nombre:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="mapa.nombre" name="nombre" #nombre="ngModel"
                        required>
                    <div class="text-danger" [hidden]="!nombre.invalid">
                        Campo Obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Descripción:</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" [(ngModel)]="mapa.descripcion" name="descripcion" #descripcion="ngModel"
                        required></textarea>
                    <div class="text-danger" [hidden]="!descripcion.invalid">
                        Campo Obligatorio
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <div class="form-group row">
    <div class="col-md-6">
        <h3>Nodos:</h3>
        <table #dtNodos class="table table-sm row-border hover"></table>
    </div>
    <div class="col-md-6">
        <h3>Caminos:</h3>
        <table #dtCaminos class="table table-sm row-border hover"></table>
    </div>
</div>
<ng-template #tplNodo>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar BL</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form #formNodo="ngForm" class="row">
                <label class="col-md-12">Código</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" required [(ngModel)]="codigoTmp" name="codigo" #codigo="ngModel">


                    <div [hidden]="codigo.valid" class="text-danger h-25" rol="alert">
                        Campo obligatorio
                    </div>
                </div>
                <label class="col-md-12">¿Objetivo?</label>
                <div class="col-md-12">
                    <input type="checkbox" class="form-control" [(ngModel)]="objetivoTmp" name="objetivo" #objetivo="ngModel">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardarNodo()" [disabled]="!formNodo.form.valid">
            <i class="fa fa-save">&nbsp;</i>Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()">
            <i class="fa fa-ban">&nbsp;</i>Cancelar
        </button>
    </div>
</ng-template>