<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo">
                <a routerLink="/inicio">
                    <!-- <img src="./assets/tema/images/logo.png" alt="" /> -->
                    <span>First - Alert</span>
                </a>
            </div>
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/inicio"><i class="ti-home"></i> Inicio</a></li>
                <li routerLinkActive="active">
                    <a routerLink="/mapas"><i class="ti-map"></i> Mapas</a>
                </li>
                <li><a><i class="ti-close"></i> Cerar Sesión</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->


<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <ul>
                        <li class="header-icon dib"><span class="user-avatar"> Octavio Bedregal Flores <i class="ti-angle-down f-s-10"></i></span>
                            <div class="drop-down dropdown-profile">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="#"><i class="ti-power-off"></i> <span>Cerrar Sesión</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>